<app-leader></app-leader>
<div class="container">
  <div style="width: 100%;"><a [routerLink]="['/show/analyse']" [queryParams]="{'info': name,'id':id}" class="btn btn-info" style="width: 100%;">图表分析</a></div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="col-lg-2">评论时间</th>
        <th class="col-lg-4">评论内容</th>
		<th class="col-lg-1">分数</th>
        <th class="col-lg-1">商品颜色</th>
        <th class="col-lg-1">商品大小</th>
        <th class="col-lg-1">用户</th>
        <th class="col-lg-1">用户等级</th>
        <th class="col-lg-1">来源</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comment of comentsInfo">
        <td scope="row">{{ comment.creationTime }}</td>
        <td>{{ comment.content }}</td>
		    <td>{{ comment.score }}</td>
        <td>{{ comment.productColor }}</td>
        <td>{{ comment.productSize }}</td>
        <td>{{ comment.nickname}}</td>
        <td>{{ comment.userLevelName}}</td>
        <td>{{ comment.userClientShow}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<nav aria-label="Page navigation page-info" style="margin-left: 15%;cursor: pointer">-->
    <!--<ul class="pagination">-->
      <!--<li>-->
        <!--<a (click)="changeProPage('pre')" aria-label="Previous">-->
          <!--<span aria-hidden="true">&laquo;</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li><a (click)="changeProPage('1')">1</a></li>-->
      <!--<li><a (click)="changeProPage('2')">2</a></li>-->
      <!--<li><a (click)="changeProPage('3')">3</a></li>-->
      <!--<li><a (click)="changeProPage('4')">4</a></li>-->
      <!--<li><a (click)="changeProPage('5')">5</a></li>-->
      <!--<li><a (click)="changeProPage('6')">6</a></li>-->
      <!--<li><a (click)="changeProPage('7')">7</a></li>-->
      <!--<li><a (click)="changeProPage('8')">8</a></li>-->
      <!--<li><a (click)="changeProPage('9')">9</a></li>-->
      <!--<li><a (click)="changeProPage('10')">10</a></li>-->
      <!--<li><a (click)="changeProPage('11')">11</a></li>-->
      <!--<li><a (click)="changeProPage('12')">12</a></li>-->
      <!--<li><a (click)="changeProPage('13')">13</a></li>-->
      <!--<li><a (click)="changeProPage('14')">14</a></li>-->
      <!--<li><a (click)="changeProPage('15')">15</a></li>-->
      <!--<li><a (click)="changeProPage('16')">16</a></li>-->
      <!--<li><a (click)="changeProPage('17')">17</a></li>-->
      <!--<li><a (click)="changeProPage('18')">18</a></li>-->
      <!--<li><a (click)="changeProPage('19')">19</a></li>-->
      <!--<li><a (click)="changeProPage('20')">20</a></li>-->
      <!--<li>-->
        <!--<a (click)="changeProPage('next')" aria-label="Next">-->
          <!--<span aria-hidden="true">&raquo;</span>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
</div>
